html
  head
    meta(charser="UTF-8")
    meta(content='width=device-width' initial-scale='1'  name='viewport')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= title 
    style 
        include ../static/1.css
    block style
    block script 

      
  body
            
    block content
    footer#foot
        | Copyrights © 2023 StrawHat.com | All Rights Reserved .          